@model IEnumerable<OdeToFood.Models.RestourantReview>

@{
    ViewBag.Title = "Index";
}

<h2>The Latest Reviews</h2>

We are showing @Model.Count() reviews.

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    @foreach (var item in Model)
    {
        <div class="review">
            <h2>@item.Name</h2>
            <span>@item.Rating</span>
            <p>@item.City, @item.Country</p>
        </div>
    }
</table>
